# Ignore everything in root
/*

# Whitelist
!.gitignore
!requirements_qiskit.txt
!requirements_dwave.txt
!readme.md
!esquema.pptx

!latex/
latex/**/*.aux
latex/**/*.log
latex/**/*.bbl
latex/**/*.blg
latex/**/*.toc
latex/**/auto/

!overleaf/
overleaf/*.bash
overleaf/**/*.aux
overleaf/**/*.log
overleaf/**/*.bbl
overleaf/**/*.blg
overleaf/**/*.toc
overleaf/**/*.acn
overleaf/**/*.glo
overleaf/**/*.idx
overleaf/**/*.ilg
overleaf/**/*.ind
overleaf/**/*.ist
overleaf/**/*.lof
overleaf/**/*.lot
overleaf/**/*.out
overleaf/**/auto/

!codigo/
codigo/**/.ipynb_checkpoints/
