# Ignore everything in root
/*

# Whitelist
!.gitignore
!requirements_qiskit.txt
!requirements_dwave.txt
!readme.md

!latex/
latex/**/*.aux
latex/**/*.log
latex/**/auto/

!codigo/
codigo/**/.ipynb_checkpoints/
