# Python 3.8.18
jupyter==1.0.0
pylatexenc==2.10
networkx==3.1

qiskit-textbook @ git+https://github.com/qiskit-community/qiskit-textbook.git#subdirectory=qiskit-textbook-src
qiskit==0.45.1
qiskit-aer==0.13.2
qiskit-terra==0.45.1
qiskit-ibm-provider==0.8.0
qiskit-ibm-runtime==0.17.0
